<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./javascript/jquery.min.js"></script>
  <script src="./javascript/bootstrap.min.js"></script>
  <link
	href="./css/bootstrap.signup.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="./javascript/bootstrap.signup1.js"></script>
<script src="./javascript/jquery-1.11.1.signup1.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron" style ="background-color: white;">
  <div class="container text-center" style ="background-color: white;"><a href = ./index.html><img src=./images/player2.jpg style="width:15%" alt="Image"></a>
          
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">신상품</a></li>
        <li><a href="#">판매랭킹</a></li>
        <li><a href="#">브랜드</a></li>
        <li><a href="#">오늘의딜</a></li>
        <li><a href="#">세일</a></li>
        <li><a href="#">기획전</a></li>
        <li><a href="#">룩북</a></li>
        <li><a href="#">슈즈리뷰</a></li>
        <li><a href="#">포커스아이템</a></li>
        <li><a href="#">매거진</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./login.html"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li><a href="./signup.html"><span class="glyphicon glyphicon-user"></span> Join</a></li>
        <li><a href="./notice.html"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

	<div class="container">
		<form class="form-horizontal" role="form" style ="margin-left:27%; padding-right: 40px; margin-bottom: 2%; margin-top: 2%;">
			<h2>플레이어 <span style ="color:red">간편 회원가입</span></h2>
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label">이름</label>
				<div class="col-sm-9">
					<input type="text" id="firstName" 
						class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="text" class="col-sm-3 control-label">아이디</label>
				<div class="col-sm-9">
					<input type="text" id="text"
						class="form-control" autofocus> <span class="help-block">아이디는 
						6자 이상의 영문과 숫자를 입력해 주세요.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">비밀번호</label>
				<div class="col-sm-9">
					<input type="password" id="password" 
						class="form-control"  autofocus> <span class="help-block">
						 8~20자 이내 영문자 숫자를 입력해 주세요.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label">비밀번호 확인</label>
				<div class="col-sm-9">
					<input type="password" id="password" 
						class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="tel" class="col-sm-3 control-label">휴대전화 번호</label>
				<div class="col-sm-9">
					<input type="tel" id="tel" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">이메일</label>
				<div class="col-sm-9">
					<input type="email" id="email"
						class="form-control" autofocus> <span class="help-block">이메일은 아이디 
						또는 비밀번호를 찾기 위해 꼭 필요한 정보이므로 정확하게 입력해주세요.</span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<div class="checkbox">
						<label> <input type="checkbox">I accept <a
							href="#">terms</a>
						</label>
					</div>
				</div>
			</div>
			<!-- /.form-group -->
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block" style ="background-color: red; font-weight: bold;">회원가입</button>
				</div>
			</div>
		</form>
		<!-- /form -->
	</div>
	<!-- ./container -->

</body>
</html>
